@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;700;800;900&display=swap");
:root {
  --ff-body: 'Lato', sans-serif;
  --ff-header: 'Montserrat', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
  --fw-bolder: 800;
  --spacer: 1.6rem;
  --spacer-md: calc(var(--spacer) * 2);
  --spacer-lg: calc(var(--spacer) * 3);
  --clr-primary: #ec900f;
  --clr-secondary: #2c3e50;
  --clr-accent: #13778d;
  --clr-white: #fff7ef;
  --shadow: 0 0 1em rgba(0,0,0, .25);
  --radius:  5px;
  --fs-body: 1.6rem;
  --fs-h1: 2rem;
  --fs-nav: 1.4rem;
}

@media (min-width: 800px) {
  :root {
    --fs-body: 2rem;
    --fs-h1: 3rem;
    --fs-nav: 1.5rem;
    --spacer: 3.2rem;
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

textarea {
  white-space: revert;
}

/***  END RESET ***/
html {
  font-size: 62.5%;
}

body {
  background: var(--clr-primary);
  font-family: var(--ff-body);
  font-size: var(--fs-body);
}

.content {
  padding: 1em;
  padding-top: 8rem;
  padding-bottom: 5rem;
}

.content p {
  margin-bottom: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fz-h2);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.hide {
  display: none !important;
}

img {
  width: 100%;
  height: auto;
}

.navbar {
  background: var(--clr-secondary);
  color: var(--clr-white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: var(--spacer);
  position: fixed;
  width: 100%;
}

.navbar .navbar__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .navbar__header button {
  padding: 4px 10px;
}

@media (min-width: 800px) {
  .navbar .navbar__header button {
    display: none;
  }
}

.navbar .navbar__items {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: var(--clr-secondary);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
}

@media (min-width: 800px) {
  .navbar .navbar__items {
    position: static;
  }
}

.navbar .navbar__items li {
  font-family: var(--ff-header);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  font-size: var(--fs-nav);
  margin-right: var(--spacer);
}

.navbar .navbar__items li:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=main.css.map */