:root {
   --ff-body: 'Lato', sans-serif;
   --ff-header: 'Montserrat', sans-serif;  

   --fw-normal: 400;
   --fw-bold: 700;
   --fw-bolder: 800;

   --spacer: 1.6rem;
   --spacer-md: calc(var(--spacer) * 2);
   --spacer-lg: calc(var(--spacer) * 3);

   --clr-primary: #ec900f;
   --clr-secondary: #2c3e50;
   --clr-accent: #13778d;
   --clr-white: #fff7ef;

   --shadow: 0 0 1em rgba(0,0,0, .25);
   --radius:  5px;

   --fs-body: 1.6rem;   
   --fs-h1: 2rem;
   --fs-nav: 1.4rem;
}

@media (min-width: 800px) {
   :root {
      --fs-body: 2rem;   
      --fs-h1: 3rem;
      --fs-nav: 1.5rem;
      --spacer: 3.2rem;
   }
}